server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      # RUTA AJUSTADA A TU PC (Usa barras normales /)
      # Busca todos los archivos .log en la carpeta Services/logs
      __path__: C:/Users/pc/Documents/-events-and-ticket-sales-app-main/Services/logs/*.log